// DM Sans
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

//Gordita
@font-face {
    font-family: 'Gordita-Black';
    src: url(../fonts/gordita/Gordita-Black.otf);
}

@font-face {
    font-family: 'FogtwoNo5otf';
    src: url(../fonts/FogtwoNo5/FogtwoNo5.otf);
}

@font-face {
    font-family: 'FogtwoNo5ttf';
    src: url(../fonts/FogtwoNo5/FogtwoNo5.ttf);    
}